@import url("//netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css");
@import url("//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css");
.subhead h1, .subhead .lead {
  padding-left:20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.subhead .title {
  background-image:url('//lh6.googleusercontent.com/-uT_1hxZ8MeA/UYCA12qF_vI/AAAAAAAAADg/FPogR_trjWA/w1170-h663/photo.jpg');
  background-size:cover;
  background-position:center;
}
.subhead h1 {
  margin-top:0;
}
.navbar-inner {
  border-radius:0;
}
.subhead hgroup {
  background-color:rgba(0,0,0,.6);
}
.subhead .title {
  height:533px;
}
footer.well {
  margin-bottom:0;
  border:none;
  border-radius:0;
  box-shadow:none;
}

/* Large Desktop */
@media (min-width: 1200px) {
  .subhead .title {
    height:663px;
  }
}
/* Landscape phone to Desktop/Tablet */
@media (max-width: 767px) {
  .subhead hgroup {
  }
  .subhead .title {
    height:410px;
  }
}
/* Tablet to Desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .subhead hgroup {
  }
  .subhead .title {
    height:410px;
  }
}

