---
layout: master
---
<div class="container">
<header class="jumbotron subhead">
  <div class="title">
  <hgroup>
      <h1>Kaleb Hornsby</h1>
      <h2 class="lead"><i>for</i> Assistant Secretary</h2>
  </hgroup>
  </div>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="#Youth">Youth</a></li>
        <li><a href="#Technology">Technology</a></li>
        <li><a href="#Principles">Principles</a></li>
      </ul>
      </div>
      <ul class="nav pull-right">
        <li>
          <a class="" href="http://facebook.com/KalebHornsby" data-tooltip title="Connect on Facebook">
            <i class="icon-large icon-facebook-sign"></i>
          </a>
        </li>
        <li>
          <a class="" href="http://twitter.com/KalebHornsby" data-tooltip title="Follow on Twitter">
            <i class="icon-large icon-twitter"></i>
          </a>
        </li>
        <li>
          <a class="" href="mailto:kaleb@votehornsby.com" data-tooltip title="Email Me">
            <i class="icon-large icon-envelope-alt"></i>
          </a>
        </li>
        <li></li>
      </ul>

    </div>
  </div>
</header>
{{ content }}
</div>
<footer class="footer well">
  <div class="container">
    <small>&copy; 2013 Kaleb Hornsby</small>
  </div>
</footer>
