---
layout: master
---
<div class="container">
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6 title">
      <h1>Kaleb Hornsby</h1>
      <h2 class="lead"><i>for</i> Assistant Secretary</h2>
    </div>
    <div class="span6">
      <div class="social pull-right">
        <a class="btn btn-danger" href="http://twitter.com/KalebHornsby"
          data-tooltip data-placement="top" title="Follow on Twitter">
          <i class="icon-2x icon-twitter"></i>
        </a>
        <a class="btn btn-danger" href="http://facebook.com/KalebHornsby"
          data-tooltip data-placement="top" title="Connect on Facebook">
          <i class="icon-2x icon-facebook-sign"></i>
        </a>
      </div>
    </div>
  </div>
</header>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#Youth">Youth</a></li>
        <li><a href="#Technology">Technology</a></li>
        <li><a href="#Principles">Principles</a></li>
      </ul>
    </div>
  </div>
{{ content }}
</div>
